<nb-layout>
  <nb-layout-header fixed>
    <app-header></app-header>
  </nb-layout-header>
  <nb-layout-column class="colored-column-basic">
    <nb-card>
      <nb-card-header> <h4>
        Nova Consulta
      </h4>
    </nb-card-header>
      <nb-card-body>
        <nb-select placeholder="Especialidades" fullWidth (selectedChange)="getMedicobyEspecialidade($event)">
          <nb-option *ngFor="let especialidade of especialidades" [value]="especialidade.id">
            {{ especialidade.nome }}
          </nb-option>
        </nb-select>
        <hr>
        <nb-select placeholder="Medicos" fullWidth (selectedChange)="getDatasbyMedicos($event)">
          <nb-option *ngFor="let medico of medicos" [value]="medico.id">
            {{ medico.nome }}
          </nb-option>
        </nb-select>
        <hr>
        <nb-select placeholder="Datas" fullWidth (selectedChange)="getHorarioByDatas(idMedico,$event)">

          <nb-option *ngFor="let day of datas" [value]="day.dia">
            {{ day.dia | date: 'dd/LL/Y'}}
          </nb-option>
        </nb-select>
        <hr>
        <nb-select placeholder="Horário" fullWidth>
          <nb-option *ngFor="let hora of horario" [value]="hora">
            {{ hora }}
          </nb-option>
        </nb-select>
      </nb-card-body>
      <nb-card-footer>
        <div class="row">

          <div class="col-md-10">
            <button  class="btn btn-cancel" (click)="cancelConsulta()">Cancelar</button>
          </div>
          <div class="col-md-2" >
            <button  shape="rectangle"  class="btn btn-confirm" >Confirmar</button>
          </div>

        </div>
      </nb-card-footer>
    </nb-card>
  </nb-layout-column>
</nb-layout> 