img{
  width: 200px;
  margin-top: 5px;
}
.header{
  display: flex;
  justify-content: space-between;
  
}
.header-container{
  display: flex;
}
#header-label{
  display: flex;
  position: relative;
  left: 85rem;
  top: 18px;
}

.link:hover {
  cursor: pointer;
  color: #49b4bb;
}
.logoff-span{
  padding-left: 60px;
} 
