<nb-layout>
  <nb-layout-header>
        <app-header></app-header>      
  </nb-layout-header>
  <nb-layout-column class="colored-column-basic">
    <nb-card>
      <nb-card-header>
        <div class="row">
          <div class="col-md-10">
            <h4>Consulta Clínica </h4> 
          </div>
          <div class="col-md-2">
            <button class="btn-nova-consulta" (click)="newConsulta()" nbButton status='success'>
              <nb-icon icon="plus"></nb-icon> Nova Consulta
            </button>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <table class="table table-striped">
          <thead>
            <tr class="text-center">
              <th>#</th>
              <th>ESPECIALIDADE</th>
              <th>PROFISSIONAL</th>
              <th>DATA</th>
              <th>HORA</th>
              <th></th>
            </tr>
          </thead>
          <tbody> 
            <tr class="text-center" *ngFor="let consulta of consultas; let i = index" >
              <th class="align-row">{{ i + 1 }}</th>
              <td class="align-row">{{consulta.medico.especialidade.nome}}</td>
              <td class="align-row">{{consulta.medico.nome}} </td>
              <td class="align-row">{{consulta.dia | date:'dd/LL/Y'}} </td>
              <td class="align-row">{{consulta.horario}} </td>
              <td>
                <button class="btn-desmarcar" nbButton ghost status='success' (click)="deleteConsulta(consulta.id)">
                  <nb-icon icon="close-outline"></nb-icon> Desmarcar
                </button></td>
            </tr>
          </tbody>
        </table>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>